/*

Z Indexes:

99 = messenger
50 = snow (turns into z=43 after present is clicked on)
45 = present (turns into z=1 after present is clicked on)
44 = game_container (turns into z=99 after present is clicked on)
1 = background_sprite

*/


html {
	background: url('../images/Xmas Background.png') no-repeat center center;
	background-size: cover;
}

body {
	margin: 0px;
	/*padding: 50px;
	padding-bottom: 0px;*/
	font-family: "Avenir";
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;

	overflow-y: scroll;
	overflow-x: hidden;
}

#header {
	display: flex;
	align-items: center;
	padding: 30px 50px 30px 50px;
	margin-bottom: 20px;
	/*background-color: #2D2D2D;*/
	/*background-color: #EAC435;
	background-color: #01C19B;
	background-color: #960018;
	background-color: #B22222;*/

	/*
	Possible color schemes:

	https://coolors.co/eac435-345995-e40066-03cea4-fb4d3d
	https://coolors.co/041b15-136f63-4ce0d2-01c19b-84cae7
	*/

	background-image: url('../images/stars.png');


}

	#header span {
		font-size: 2em;
		color: black;
	}

		#header #firebase_logo {
			height: 50px;
			width: 40.23px;
			margin-right: 10px;
		}

		#header #icon_logo {
			height: 50px;
			width: 50px;
			margin-left: 10px;
		}

	#login {
		margin-left: auto;

		width: 65px;
		height: 20px;
		padding: 10px;
		/*margin-bottom: 30px;*/
		background-color: #4D68A1;
		border-radius: 5px;
		border-bottom: solid 2px #324C84;
		color: white;
	}

		#login:hover {
			cursor: pointer;
			background-color: #3B5998;
		}

		#login:active {
			border-bottom: none;
			border-top: solid 2px #324C84;
		}

	#logged_in {
		display: flex;
		align-items: center;
	    width: 100%;

	    display: none;
	}

		#logged_in img {
			width: 50px;
			height: 50px;
			border-radius: 100%;
			margin-left: auto;
		}

		#logged_in #name {
			color: white;
			margin-top: 7px;
			margin-left: 20px;
			font-size: 20px;
		}

		#logged_in #error_msg {
			margin-left: auto;
			margin-right: 20px;
			color: white;
		}

		#logged_in #logout {
			/*margin-left: auto;*/

			display: flex;
			width: 55px;
			height: 20px;
			padding: 10px;
			/*padding: 8px;
			padding-left: 10px;
			padding-right: 5px;*/
			background-color: #787878;
			border-radius: 5px;
			border-bottom: solid 2px #5E5E5E;
			color: white;
		}

			#logged_in #logout div {
				margin: auto;
			}

			#logged_in #logout:hover {
				cursor: pointer;
				background-color: #6F6F6F;
			}

			#logged_in #logout:active {
				border-bottom: none;
				border-top: solid 2px #5E5E5E;
			}

#container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 50px;
	padding-top: 0px;
	/*width: 100%;*/
}

	#happy {
		font-family: 'Dancing Script', "SignPainter";
		font-weight: 400;
		font-size: 4em;
		color: white;

		top: 200px;
		left: 550px;

		opacity: 0;
	}

	.background_sprite {
		position: absolute;
		z-index: 1;
	}

	#tree {
		width: 400px;
		height: auto;
		top: 230px; /* end value: 320px */
		left: 400px;

		opacity: 0;
	}

	#tree_shadow {
		width: 177.278402px; /* tree_width * 0.443196005 */
		height: auto;
		top: 881px;
    	left: 510px;

    	opacity: 0;
	}

	#present {
		width: 89px; /* tree_width * 0.26875 or 0.2225 */
		height: auto;
		top: 730px; /* end value: 780px */
		left: 830px;

		opacity: 0;

		z-index: 49;
	}

		#present:hover {
			cursor: pointer;

		}

	#present_shadow {
		width: 107.5px; /* present_shadow_width: 215/178 = present_width * 1.2078565169 */
		height: auto;
		top: 887px;
    	left: 820px;

    	opacity: 0;
	}

	#messenger {
		margin-right: 200px;
		margin-bottom: 100px;

		z-index: 99;
	}

	#messenger h1 {
		width: 400px;
	}

	#messagesDiv {
		width: 400px;
		height: 300px;
		margin-top: 40px;
		margin-bottom: 0px;
		border: solid 1px #E8E8E8;
		border-radius: 5px;
		padding: 20px;
		background-color: #F4F4F4;
		background-color: white;

		overflow: scroll;
		opacity: 0.95;
	}

	#base {
		display: flex;
		align-items: center;
		width: 420px;
		height: auto;
		padding: 10px;
		padding-left: 0px;
		/*background-color: #595959;*/
	}

		#base input {
			font-size: 0.8em;
			outline: none;
			opacity: 0.95;
			background-color: rgba(0,0,0,0);
			color: black;
		}

		#base #nameInput {
			width: 90px;
			margin-right: 20px;
		}

		#base #messageInput {
			width: 190px;
		}

			#base input[type="text"] {
				padding: 10px;
				border: none;
				border-bottom: solid 2px #c9c9c9;
				transition: border 0.3s;
			}

			#base input[type="text"]:focus,
			#base input[type="text"].focus {
				border-bottom: solid 2px #969696;
			}

		#base #note {
			color: white;
			margin-left: auto;
			text-shadow: 0px 0px 20px black;
		}

		#base #send_button {
			width: 40px;
			height: 18px;
			line-height: 18px;
			margin-left: auto;
			background-color: #00CC75;
			border-bottom: solid 2px #019959;
			padding: 5px;
			border-radius: 5px;
			color: white;
		}

			#base #send_button:hover {
				background-color: #00C471;


				/*background-color: ;*/
				cursor: pointer;
			}

			#base #send_button:active {
				border-bottom: none;
				border-top: solid 2px #019959;
			}

	#game_container {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		/*width: 600px;*/
		/*display: none;*/

		opacity: 0;
		z-index: 48;

		transition: opacity 1s ease-out;
	}

		#game_container h3 {
			margin-top: 0px;
		}

		#game #openning_screen {
			display: flex;
			position: absolute;
			background-color: black;
			opacity: 0.8;
			width: 600px;
			height: 600px;

			display: none;
		}

			#game #openning_screen div {
				margin: auto;
				color: white;
				font-size: 1.5em;
				width: 156px;
				height: 50px;
				background-color: black;
				opacity: 1;
			}

		#game {
			border-radius: 5px;
			display: flex;
			flex-wrap: wrap;
			background-color: #DEDEDE;

			width: 600px;
			height: 600px;
			padding: 10px;
			margin-top: 30px;
		}

			#game:focus {
				background-color: red;
			}

			.game_block {
				/*height: 60px;
				width: 60px;*/
				background-color: white;
				opacity: 0.95;
			}

		#game #player {
			background-color:#00C471;
		}

#footer {
	display: flex;
	/*width: 100vw;*/
	height: 200px;
	background-color: #2D2D2D;
	/*background-color: #2C5041;*/

	/*margin-top: 100px;*/
	overflow: hidden;

	-webkit-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
    -moz-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
    box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
}

	#footer div {
		margin: auto;
		color: white;
		margin-left: 45vw;
		font-size: 1.2em;
	}

		#footer div a {
			color: #C1C1C1;
			text-decoration: none;
			border-bottom: dotted #C1C1C1 2px;
			/*transition: all 1s ease;*/
		}

			#footer div a:hover {
				color: #EFEFEF;
				border-bottom: dotted #EFEFEF 2px;
			}

	#footer img {
		position: static;
		bottom: -200px;
		right: 0;
		width: 300px;
		height: 300px;
		margin-top: 50px;
		margin-right: -100px;
		opacity: 0.5;

		transform: rotate(30deg);
	}

@media screen and (max-device-width: 1361px), (max-width: 1361px) {
	#happy {
		top: 730px;
		left: 230px;
		transition: opacity 0.2s ease;
	}

	#tree {
		/*width: 830px;
		height: auto;*/
		top: 798px;
        left: 150px;
	}

	#tree_shadow {
		/*width: 177.278402px;  tree_width * 0.443196005
		height: auto;*/
		top: 1390px;
    	left: 259px;
	}

	#present {
		/*width: 89px;  tree_width * 0.26875 or 0.2225
		height: auto;*/
		top: 1250px;
        left: 550px;
	}

		#present:hover {
			cursor: pointer;
			top: 760px;
		}

	#present_shadow {
		/*width: 107.5px;  present_shadow_width: 215/178 = present_width * 1.2078565169
		height: auto;*/
		top: 1407px;
    	left: 540px;
	}

	#game_container {
		align-items: flex-start;
	}

	#footer {
		/*width: 200vw;*/
	}

		#footer div {
			/*margin-left: 75vw;*/
		}
}

@media screen and (max-device-width: 500px), (max-width: 500px) {
	#happy {
		top: 830px;
		left: 50px;
		transition: opacity 0.2s ease;
	}

	#base input {
		font-size: 1.2em;
	}

	#messagesDiv {
		font-size: 1.2em;
	}

	#login {
		font-size: 1.2em;
		width: 77px;
		padding-top: 8px;
	}

	#base #note {
		font-size: 1.1em;
	}
}
